*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-decoration{
    text-decoration: line-through;
}

.text-decoration-none{
    text-decoration:none;
}

.cursor{
    cursor: pointer;
}